{% extends 'base.html' %}

{% block head_title %}Viewing category {{ category.title }}{% endblock %}

{% block title %}
<h1>{{ category.title }}</h1>
Here are the posts I've made:
{% endblock %}



{% block blogs %}

    {% if posts %}

        <ul>

        {% for post in posts %}

            <li><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></li>

        {% endfor %}

        </ul>

    {% else %}

        <p>There are no posts.</p>

    {% endif %}

{% endblock %}

{% block categories %}
<h5>Categories</h5>
{% if categories %}

    <ul>

    {% for category in categories %}

        <li><a href="{{ category.get_absolute_url }}">{{ category.title }}</a></li>

    {% endfor %}

    </ul>

{% else %}

    <p>There are no posts.</p>
{% endif %}
{% endblock %}
